@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Barlow', sans-serif;
  /* font-family: 'Fraunces', serif; */
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__main {
  padding: 44px 0;
}

.header__logo {
  width: 100%;
  height: auto;
}

.nav__list {
  list-style: none;
}
.nav__item:not(:last-child) {
  margin-right: 33px;
}
.nav__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.nav__item:active .nav__link {
  color: #333d4b;
}
.header__menu {
  border: none;
  background-color: transparent;
  display: none;
}

.bx-menu {
  font-size: 30px;
  color: #333d4b;;
}

.menu-close {
  border: none;
  background-color: transparent;
  display: none;
}
.bx-x {
  color: #333d4b;
  font-size: 35px;
}

@media screen and (max-width: 992px) {
  .container {
    width: 85%;
  }
  .header__img-box {
    z-index: 500;
  }
  .header__menu {
    display: block;
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: -150%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #fefcf7 55.94%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.8s ease;
    z-index: 300;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    margin-bottom: 32px;
  }

  .nav__link {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
  }

  .show {
    top: 0;
    right: 0;
    transition: all 0.8s ease;
  }
  .hide {
    display: none;
  }

  .menu-close {
    z-index: 400;
  }
  .show-it {
    display: block;
  }

}

.hero__main {
  background-image: url(../imgs/coffe-hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 80px;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.hero__title {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-bottom: 32px;
  width: 493px;
}
.hero__text {
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
  width: 440px;
  margin-bottom: 56px;
}
.btn {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  cursor: pointer;
  background: #0e8784;
  border-radius: 6px;
  border: none;
  transition: all 0.2s ease;
}
.hero__btn {
  padding: 15px 31px;
}

.btn:active {
  transition: all 0.2s ease;
  background-color: #66d2cf;
}

#hero {
  margin-bottom: 150px;
}

@media screen and (max-width: 768px) {
  .hero__main {
    background-image: url(../imgs/hero-tablet.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    padding: 0;
    text-align: center;
  }
  .hero__entry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero__title {
    width: 100%;
  }
  .hero__text {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .hero__main {
    background-image: url(../imgs/hero-responsiv.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
  }
  .hero__entry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.cofe__main{
  background-image: url(../imgs/cofe-paket.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 196px;
  padding-top: 120px;
}
.cofe__list {
  list-style: none;
}
.cofe__desc {
  text-align: center;
}

.cofe__img {
  width: 255px;
  height: 193px;
  margin-bottom: 71px;
}
.cofe__title {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  margin-bottom: 24px;
}
.cofe__text {
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  width: 255px;
}


@media screen and (max-width: 768px) {
  .cofe__main {
    background-image: url(../imgs/pakettwo.svg);
    background-repeat: no-repeat;
    width: 685px;
    height: 196px;
  }
  .cofe__list {
    flex-direction: column;
    justify-content: center;
  }
  .cofe__box {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .cofe__list {
    flex-direction: column;
    justify-content: center;
  }
  .cofe__item {
    flex-direction: column;
  }
  .cofe__box {
    text-align: center;
  }
  .cofe__text {
    width: 282px;
  }
}

#cofe {
  margin-bottom: 500px;
}


.chose__main {
  width: 100%;
  height: 526px;
  background-color: #282f38;
  border-radius: 10px;
}
.chose__desc {
  padding-top: 110px;
  margin-bottom: 86px;
}

.chose__title {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
  margin-bottom: 32px;
}
.chose__text {
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
  width: 540px;
  margin: 0 auto;
}
.chose__list {
  list-style: none;
}

.chose__box {
  padding-top: 72px;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
  height: 382px;
  background-color: #0e8784;
  border-radius: 8px;
}

.chose__img {
  width: 71px;
  height: 72px;
  margin-bottom: 56px;
}
.chose__info {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #fefcf7;
  margin-bottom: 24px;
}
.chose__seb {
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  width: 255px;
  margin: 0 auto;
  padding-bottom: 48px;
}

#chose {
  margin-bottom: 500px;
}

@media screen and (max-widht: 992px) {
  .chose {
    flex-flow: column wrap;
  }
  .chose__item {
    flex-flow: column wrap;
  }
}

.info__title {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 80px;
}
.info__img {
  width: 70%;
  margin-bottom: 65px;
}
.info__list {
  list-style: none;
  margin-bottom: 65px;
}

.info__num {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
  margin-bottom: 38px;
}
.info__desc {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-bottom: 43px;
  width: 255px;
}
.info__text {
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  width: 285px;
}

.info__btn {
  padding: 15px 31px;
}

#info {
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .info__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  
}

.footer__main {
  padding: 47px 40px;
  background-color: #2c343e;
  margin-bottom: 50px;
}

.footer__img {
  width: 236px;
  height: 26px;
  margin-right: 103px;
}
.footer__list {
  flex-grow: 1;
  list-style: none;
}
.footer__item:not(:last-child) {
  margin-right: 33px;
}
.footer__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  transition: all 0.2s ease;
}
.footer__item:active .footer__link {
  color: #fefcf7;
  transition: all 0.2s ease;
}
.footer__socials {
  list-style: none;
}

.socials__item:not(:last-child) {
  margin-right: 24px;
}
.socials-icon {
  color: #fefcf7;
  font-size: 30px;
  transition: all 0.2s ease;
}

.socials__item:active .socials-icon {
  transition: all 0.2s ease;
  color: #fdd6ba;;
}

